#console{
    width: 350px;
    padding: 1rem;
    margin-top: 100px;
    /* border-style: solid; */
    /* border-color: grey; */
    /* border-radius: 1rem; */
    /* border-width: 1px; */
}


#warning{
    color: red;
    padding-bottom: 1rem !important;
}

#w-container{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem !important;
}

#logo-container{
    display: flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

#logo{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
